:root {
    --color--background: rgb(238, 245, 238);
}


header {
    width: auto;
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--color--background);
}

nav {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;  
    grid-gap: .9em;

}

nav > p {
    justify-self: center;
    margin: 0;
    font-size: 1.3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 600px) {
    header{
        grid-template-columns: auto;
    }
    h1 {
        justify-self: center;
    }
    nav {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    }
   nav > p {
    justify-self: center;
    margin: 0;
    }
}


