main > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5,17em);
    grid-gap: 1em 1em;
    padding-left: 10em;
    padding-right: 10em;
}

.Prod1{
    grid-row: 1;
    grid-column: 1;
}

.Prod1 > p{
    text-align: center;
}

.toProd{
    background-color: lightgrey;
}

div > img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2em;
}